{% extends 'base.html' %}
{% load static %}

{% block menu_header %}
{% endblock %}

{% block content %}
<hr>
<main id="content" class="column main-content" role="main">
    <section class="section">
        <a id="main-content" tabindex="-1"></a>
        <div class="region region-content">


            <div id="block-ralkotheme-breadcrumbs" class="contextual-region block block-system block-system-breadcrumb-block">

                <div data-contextual-id="block:block=ralkotheme_breadcrumbs:langcode=ru"></div>
            </div>
            <div id="block-ralkotheme-page-title" class="contextual-region block block-core block-page-title-block">

                <div data-contextual-id="block:block=ralkotheme_page_title:langcode=ru"></div>

                <h1 class="js-quickedit-page-title page-title"><span property="schema:name" data-quickedit-field-id="node/7/title/ru/full" class="field field--name-title field--type-string field--label-hidden">Нотариус</span>
                </h1>


            </div>
            <div id="block-ralkotheme-content" class="block block-system block-system-main-block">



                <article data-history-node-id="7" data-quickedit-entity-id="node/7" role="article" class="contextual-region node node--type-page node--view-mode-full" about="/notarius" typeof="schema:WebPage">


                    <div data-contextual-id="node:node=7:changed=1460364666&amp;langcode=ru"></div>  <span property="schema:name" content="Нотариус" class="rdf-meta hidden"></span>



                    <div class="node__content">

                        <div property="schema:text" data-quickedit-field-id="node/7/body/ru/full" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="section-wrapper">
                            <p><br>
                                В этом разделе находится персональная информация о нотариусе Фамилия имя отчество: биография, копии сертификатов и видео-ролики.</p>

                            <div class="notarius__about-description">
                                <div class="left-col"><img alt="Тут Ваше фото" class="image-border" data-entity-type="file" data-entity-uuid="8e94838a-aad6-48ed-8200-a3f21265b817" src="#"></div>

                                <div class="right-col">
                                    <p><strong>нотариус нотариального округа "Город Астрахань"&nbsp;<br>
                                        ФИО</strong></p>

                                    <ul><li>Заслуги</li>
                                        <li>Доктор юридических наук</li>
                                        <li>Почетный адвокат РФ</li>
                                        <li>Член комиссии по нотариату ассоциации юристов РФ</li>
                                        <li>Заведующий кафедрой нотариата Российской Академии Адвокатуры и Нотариата</li>
                                        <li>Автор многих научных работ в области нотариата</li>

                                    </ul></div>
                            </div>
                        </div>

                            <div class="section-wrapper">
                                <div class="section-title">
                                    <h2>БИОГРАФИЯ</h2>
                                </div>

                                <p>Родился 1 января 2000 года в Астраханской области.&nbsp;<br><br>
                                    С 2001 г. стажер нотариуса г. Астрахань,&nbsp;<br><br>
                                    В 2002 г. был избран членом Правления нотариальной палаты.&nbsp;<br><br>
                                    С 2003 г. являлся членом Комиссии по законодательной и методической работе.&nbsp;<br><br>
                                    В настоящее время – профессор, заведующий кафедрой нотариата Российской академии адвокатуры и нотариата.<br><br>
                                    1 сентября 2004 года нотариус города Астрахань ФИО защитил диссертацию на тему: «тема диссертации» и ему была присуждена ученая степень доктора юридических наук.&nbsp;<br><br>
                                    Активно участвует в мероприятиях по повышению правовой культуры граждан, выступая в СМИ и разъясняя положения законодательства. На протяжении всего периода деятельности является руководителем стажеров.&nbsp;<br><br>
                                    ФИО является автором ряда статей, монографий, публикаций в области нотариата (более %% работ).&nbsp;<br><br>
                            </div>
                            <div class="section-wrapper">
                                <div class="section-title">
                                    <h2>ЛИЦЕНЗИЯ И ПРИКАЗ О НАЗНАЧЕНИИ</h2>
                                </div>

                                <p>Лицензия: N 000000 от 00.00.00<br>
                                    Приказ: N 000-ч от 00.00.00</p>

                                <p><a class="open-licence" href="#" style="margin-right:20px"><img alt="Ваша лицензия" class="image-border" data-entity-type="file" data-entity-uuid="38d8a243-a4aa-4ffb-9909-0991849903c7" src=""></a> <a class="open-licence" href="#"><img alt="Ваш приказ" class="image-border" data-entity-type="file" data-entity-uuid="9b750d2c-7116-496a-a100-af32f63506d8" src="#"></a></p>
                            </div>

                            <div class="section-wrapper">
                                <div class="section-title">
                                    <h2 id="zapovedi">10 Заповедей нотариуса&nbsp;<br>
                                        </h2>
                                </div>
<br>
                                <p><strong>1. Уважай свое министерство</strong>&nbsp;<br><br><strong>2. Воздержись, если даже малейшее сомнение делает неясными твое действие</strong>&nbsp;<br><br><strong>3. Воздавай должное Правде</strong>&nbsp;<br><br><strong>4. Действуй самостоятельно</strong>&nbsp;<br><br><strong>5. Изучай с пристрастием</strong><br><br><strong>6. Советуйся с Честью</strong>&nbsp;<br><br><strong>7. Руководствуйся Справедливостью</strong>&nbsp;<br><br><strong>8. Ограничивайся Законом</strong>&nbsp;<br><br><strong>9. Работай с Достоинством</strong>&nbsp;<br><br><strong>10. Помни что твоя миссия состоит в том, чтобы не было споров между людьми</strong>&nbsp;<br>&nbsp;</p>
                            </div>

                            <div class="section-wrapper">
                                <div class="section-title">
                                </div>

                                <p><span style="font-size: 20px; color: #535353; font-style: italic; line-height: 20px;">Нотариус ФИО в программе</span><br><span style="color:#bf2020">ТК -, год-дата</span><br><br>
                                    Сюжет .</p>

                                <div class="video-container"><iframe allowfullscreen="" frameborder="0" height="315" src="#" width="420"></iframe></div>
                            </div>
                        </div>

                    </div>

                </article>

            </div>

        </div>

    </section>
</main>
{% endblock %}
