{% extends 'main_page.html' %}
{% load static %}
{% block menu_header %}
{% endblock %}
{% block content %}{% endblock %}
{% block tarif %}
<hr>
<div class="sub">
    <table  align="center" border="1" cellpadding="40" width="100%" ><tr align="center"><td><p><b>Вид нотариального действия</b></p>
    </td>
        <td><p><b>Нотариальный тариф (государственная пошлина) в соответствии со ст. 22.1 Основ и ст. 333.24 НК РФ</b></p>
        </td>
        <td><p><b>Размер оплаты за оказание услуг правового и технического характера на 2019 год</b></p>
        </td>
        <td><p><b>Общая</b></p>
            <p><b>сумма оплаты</b></p>
            <p><b>(руб.)</b></p>
        </td>
    </tr>
        <tr><td><p>Удостоверение равнозначности документа на бумажном носителе электронному документу – за каждую страницу документа на бумажном носителе</p>
        </td>
            <td><p>50</p>
            </td>
            <td><p>100</p>
            </td>
            <td><p>150</p>
                <p>(за каждую страницу<i>)</i></p>
            </td>
        </tr>
        <tr><td><p>Удостоверение равнозначности электронного документа документу на бумажном носителе – за каждую страницу документа на бумажном носителе</p>
        </td>
            <td><p>50</p>
            </td>
            <td><p>100</p>
            </td>
            <td><p>150</p>
                <p>(за каждую страницу)</p>
            </td>
        </tr>
        <tr><td><p>Свидетельствование верности копий документов, а также выписок из них за страницу копии (выписки)</p>
        </td>
            <td><p>10 за страницу копии (выписки)</p>
                <p>500 –копия устава</p>
            </td>
            <td><p>90 за страницу копии (выписки)</p>
            </td>
            <td><p>100за страницу копии (выписки)</p>
                <p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Выдача выписки из реестра уведомлений о залоге движимого имущества (за каждую страницу выписки)</p>
        </td>
            <td><p>40 (в пределах 1-10 страниц включительно)</p>
                <p>20 (с 11-ой страницы)</p>
            </td>
            <td>
                <p>50</p>
                <p>(за каждую страницу выписки)</p>
            </td>
            <td><p>90 (в пределах 1-10 страниц включительно)</p>
                <p>70</p>
            </td>
        </tr>
        <tr><td><p>Хранение документов за каждый день хранения каждых полных или неполных 250 листов документов, но не менее чем коэффициент сложности нотариального действия 0,2</p>
        </td>
            <td><p>-</p>
            </td>
            <td><p>90</p>
            </td>
            <td><p>90</p>
            </td>
        </tr>
        <tr><td><p>За каждую страницу приложения к протоколу обеспечения доказательств</p>
        </td>
            <td><p>-</p>
            </td>
            <td><p>120</p>
            </td>
            <td><p>120</p>
                <p>(за каждую страницу)</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение тождественности собственноручной подписи инвалида по зрению с факсимильным воспроизведением его собственноручной подписи</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>-</p>
            </td>
            <td><p>100</p>
            </td>
        </tr>
        <tr><td><p>Представление документов на государственную регистрацию юридических лиц и индивидуальных предпринимателей.</p>
        </td>
            <td><p>1000</p>
            </td>
            <td><p>1200</p>
            </td>
            <td><p>2200</p>
            </td>
        </tr>
        <tr><td><p>Регистрация уведомления о залоге движимого имущества за каждую страницу уведомления представленного в бумажном виде</p>
        </td>
            <td><p>600</p>
            </td>
            <td><p>200 за каждую страницу уведомления представленного в бумажном виде</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Свидетельствование подлинности подписи переводчика</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>600</p>
            </td>
            <td><p>700</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение распоряжения об отмене завещания</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>500</p>
            </td>
            <td><p>1000</p>
            </td>
        </tr>
        <tr><td><p>Принятие в депозит нотариуса денежных сумм или ценных бумаг, за исключением принятия на депонирование нотариусом денежных средств в целях исполнения обязательств сторон по сделке. За каждого последующего кредитора, начиная с шестого, коэффициент сложности нотариального действия увеличивается на 0,1</p>
        </td>
            <td><p>0,5% принятой денежной суммы или рыночной стоимости ценных бумаг, но не менее 1000</p>
            </td>
            <td><p>7000+1200 за каждого последующего кредитора начиная с шестого</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Свидетельствование подлинности подписи физического лица</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>900</p>
            </td>
            <td><p>1000</p>
            </td>
        </tr>
        <tr><td><p>Свидетельствование верности перевода документа с одного языка на другой за каждую страницу перевода, сделанного нотариусом;</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>250</p>
            </td>
            <td><p>350</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение согласия законных представителей, опекунов, попечителей на выезд несовершеннолетних детей за границу, на сопровождение детей и иных юридически значимых волеизъявлений</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p><u> </u></p>
                <p><u> </u></p>
                <p><u> </u></p>
                <p>1900</p>
            </td>
            <td><p>2000</p>
            </td>
        </tr>
        <tr><td><p>Принятие на депонирование нотариусом денежных средств в целях исполнения обязательств сторон по сделке</p>
        </td>
            <td><p>1500</p>
            </td>
            <td><p>1000</p>
            </td>
            <td><p>2500</p>
            </td>
        </tr>
        <tr><td><p>Передача сведений, которые содержатся в заявлениях физических лиц и юридических лиц, в Единый федеральный реестр сведений о банкротстве, а также в Единый федеральный реестр сведений о фактах деятельности юридических лиц</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>1800</p>
            </td>
            <td><p>1900</p>
            </td>
        </tr>
        <tr><td><p>Свидетельствование подлинности подписи представителя юридического лица на документах и заявлениях (за исключением банковских карточек, заявлений о регистрации юридических лиц) и учредителей при создании юридического лица (с каждого учредителя);</p>
            <p>на банковских карточках и заявлениях о регистрации юридических лиц (с каждого лица, на каждом документе)</p>
        </td>
            <td>
                <p>100</p>
                <p>200</p>
            </td>
            <td>
                <p>1800</p>
                <p>1800</p>
            </td>
            <td>
                <p>1900</p>
                <p>2000</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение доверенности от имени физических лиц</p>
            <p>Доверенность на право пользования и (или) распоряжения имуществом, (за исключением автотранспортных средств) выдаваемая детям, в том числе усыновленным, супругу, родителям, полнородным братьям и сестрам;</p>
            <p>Доверенность на право пользования и (или) распоряжения имуществом, (за исключением автотранспортных средств), выдаваемая другим физическим лицам;</p>
            <p>Доверенность на право пользования и (или) распоряжения автотранспортными средствами, выдаваемая детям, в том числе усыновленным, супругу, родителям, полнородным братьям и сестрам;</p>
            <p>Доверенность на право пользования и (или) распоряжения автотранспортными средствами, выдаваемая другим физическим лицам</p>
        </td>
            <td><p>200</p>
                <p>100</p>
                <p>500</p>
                <p>250</p>
                <p>400</p>
            </td>
            <td><p>1600</p>
                <p>1600</p>
                <p>2000</p>
                <p>1550</p>
                <p>1600</p>
            </td>
            <td><p>1800</p>
                <p>1700</p>
                <p>2500</p>
                <p>1800</p>
                <p>2000</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение распоряжения об отмене доверенности</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>1000</p>
            </td>
            <td><p>1500</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение иной односторонней сделки, предмет которой не подлежит оценке</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>2500</p>
            </td>
            <td><p>3000</p>
            </td>
        </tr>
        <tr><td><p>Совершение прочих нотариальных действий</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>2400</p>
            </td>
            <td><p>2500</p>
            </td>
        </tr>
        <tr><td><p>Выдача прочих нотариальных свидетельств (кроме свидетельств об удостоверении фактов)</p>
            <p>Выдача свидетельств об удостоверении фактов (кроме удостоверения факта возникновения права собственности на объекты недвижимого имущества в силу приобретательной давности)</p>
        </td>
            <td>
                <p>100</p>
            </td>
            <td>
                <p>2400</p>
                <p>1400</p>
            </td>
            <td>
                <p>2500</p>
                <p>1500</p>
            </td>
        </tr>
        <tr><td><p>Свидетельствование подлинности подписи на решении единственного участника хозяйственного общества об увеличении уставного капитала</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>2000</p>
            </td>
            <td><p>2100</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение доверенности в порядке передоверия</p>
        </td>
            <td><p>200</p>
            </td>
            <td><p>2800</p>
            </td>
            <td><p>3000</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение доверенности от имени юридических лиц</p>
            <p>Доверенность на право пользования и (или) распоряжения имуществом, (за исключением автотранспортных средств)</p>
            <p>Доверенность на право пользования и (или) распоряжения автотранспортными средствами</p>
        </td>
            <td><p>200</p>
                <p>500</p>
                <p>400</p>
            </td>
            <td><p>2800</p>
            </td>
            <td><p>3000</p>
                <p>3300</p>
                <p>3200</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение завещания</p>
        </td>
            <td><p>100</p>
            </td>
            <td>
                <p>1900</p>
            </td>
            <td><p>2000</p>
            </td>
        </tr>
        <tr><td><p>Обеспечение доказательств</p>
        </td>
            <td><p>3000</p>
            </td>
            <td><p>3000</p>
                <p>за каждую страницу протокола</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Выдача свидетельства о праве на наследство по закону и по завещанию на иное имущество, за исключением недвижимого (с каждого наследника за каждый объект, указанный в свидетельстве) в зависимости от стоимости наследуемого имущества:</p>
            <p>До 10000(десяти тысяч) руб.</p>
            <p>От 10000 (десяти тысяч) до 50000 (пятидесяти тысяч) руб.</p>
            <p>От 50000 (пятидесяти тысяч) руб. до 100000(ста тысяч) руб.</p>
            <p>От 100000(ста тысяч) руб. до 200000(двухсот тысяч) руб.</p>
            <p>От 200000(двухсот тысяч) руб. до 500000(пятисот тысяч) руб.</p>
            <p>От 500000(пятисот тысяч) руб. до 700000(семисот тысяч) руб.</p>
            <p>Свыше 700000 (семисот тысяч) руб.</p>
        </td>
            <td><p>0,3% за свидетельство о праве на наследство по закону и по завещанию, выдаваемое детям, в том числе усыновленным, супругу, родителям, полнородным братьям и сестрам</p>
                <p>0,6% за свидетельство о праве на наследство по закону и по завещанию, выдаваемое другим наследникам</p>
            </td>
            <td>
                <p>300</p>
                <p>600</p>
                <p>800</p>
                <p>1100</p>
                <p>1500</p>
                <p>2600</p>
                <p>3600</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Передача заявлений или иных документов</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>2000</p>
            </td>
            <td><p>2100</p>
            </td>
        </tr>
        <tr><td><p>Совершение исполнительной надписи, за исключением исполнительной надписи об обращении взыскания на заложенное имущество</p>
        </td>
            <td><p>0,5% стоимости истребуемого имущества, указанной в договоре, или суммы, подлежащей взысканию, но не менее 1500 и не более 300000</p>
            </td>
            <td><p>3000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Выдача дубликатов нотариальных свидетельств, исполнительных надписей и документов, выражающих содержание нотариально удостоверенных сделок</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>2900</p>
            </td>
            <td><p>3000</p>
            </td>
        </tr>
        <tr><td><p>Присутствие на заседании органа управления юридического лица – за каждый час присутствия нотариуса на заседании соответствующего органа</p>
        </td>
            <td><p>3000</p>
            </td>
            <td><p>2000</p>
            </td>
            <td>
                <p>5000</p>
                <p>за каждый час</p>
            </td>
        </tr>
        <tr><td><p>Принятие закрытого завещания</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>2500</p>
            </td>
            <td><p>2600</p>
            </td>
        </tr>
        <tr><td><p>Вскрытие конверта с закрытым завещанием и оглашение закрытого завещания</p>
        </td>
            <td><p>300</p>
            </td>
            <td><p>2500</p>
            </td>
            <td><p>2800</p>
            </td>
        </tr>
        <tr><td><p>Выдача свидетельства о праве собственности на долю в общем имуществе пережившему супругу:</p>
            <p>До 10000(десяти тысяч) руб.</p>
            <p>От 10000 (десяти тысяч) до 50000 (пятидесяти тысяч) руб.</p>
            <p>От 50000 (пятидесяти тысяч) руб. до 100000(ста тысяч) руб.</p>
            <p>От 100000(ста тысяч) руб. до 200000(двухсот тысяч) руб.</p>
            <p>От 200000(двухсот тысяч) руб. до 500000(пятисот тысяч) руб.</p>
            <p>От 500000(пятисот тысяч) руб. до 700000(семисот тысяч) руб.</p>
            <p>Свыше 700000 (семисот тысяч) руб.</p>
            <p>Выдача свидетельства о праве собственности на долю в общем имуществе пережившему супругу на недвижимое имущество и на долю в уставном капитале ООО</p>
        </td>
            <td>
                <p>200</p>
                <p>200</p>
            </td>
            <td>
                <p><b> </b></p>
                <p>300</p>
                <p><b> </b></p>
                <p>600</p>
                <p>800</p>
                <p>1100</p>
                <p>1500</p>
                <p>2500</p>
                <p>4000</p>
                <p>1800 за каждый объект, но не более 4300</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение сделок, предметом которых является отчуждение недвижимого имущества, подлежащих обязательному нотариальному удостоверению</p>
        </td>
            <td><p>0,5% суммы договора, но не менее 300 и не более 20000</p>
            </td>
            <td><p>4300</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение безотзывной оферты во исполнение опциона на заключение договора</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>5000</p>
            </td>
            <td><p>5500</p>
            </td>
        </tr>
        <tr><td><p>Исполнительная надпись об обращении взыскания на заложенное имущество</p>
        </td>
            <td><p>0,5% стоимости истребуемого имущества, указанной в договоре, или суммы, подлежащей взысканию, но не менее 1500 и не более 300000</p>
            </td>
            <td><p>5500</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Подготовка к присутствию на заседании органа управления юридического лица</p>
        </td>
            <td><p>-</p>
            </td>
            <td><p>-</p>
            </td>
            <td><p>-</p>
            </td>
        </tr>
        <tr><td><p>Выдача свидетельства о праве на наследство по закону и по завещанию на недвижимое имущество (с каждого наследника за каждый объект, указанный в свидетельстве) и на долю в уставном капитале ООО</p>
        </td>
            <td><p>0,3% за сви детельство о праве на наследство по закону и по завещанию, вы даваемое детям, в том числе усыновленным, супругу, родите лям, полнород ным братьям и сестрам 0,6% за свидетельство о праве на нас ледство по зако ну и по завеща нию, выдавае мое другим наследникам</p>
            </td>
            <td><p>2600 (за каждый объект)</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Предъявление чека к платежу и удостоверение неоплаты чека.</p>
        </td>
            <td><p>1% неоплаченной суммы, но не более 20000</p>
            </td>
            <td><p>10000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договоров ренты и пожизненного содержания с иждивением</p>
        </td>
            <td><p>0,5% суммы договора, но не менее 300 и не более 20000</p>
            </td>
            <td><p>5000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение акцепта безотзывной оферты</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>5000</p>
            </td>
            <td><p>5500</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение соглашения об уплате алиментов</p>
        </td>
            <td><p>250</p>
            </td>
            <td><p>6500</p>
            </td>
            <td><p>6750</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение сделок, предметом которых является отчуждение недвижимого имущества, не подлежащих обязательному нотариальному удостоверению:</p>
            <p>супругу, родителям, детям, внукам в зависимости от суммы сделки:</p>
            <p>до 10000000 руб. включительно</p>
            <p>свыше 10000000 рублей</p>
            <p>другим лицам в зависимости от суммы сделки:</p>
            <p>до 1000000 рублей включительно</p>
            <p>свыше 1000000 рублей до 10000000 рублей включительно</p>
            <p>свыше 10000000 рублей</p>
            <p>в случае отчуждения жилых помещений (квартир, комнат, жилых домов) и земельных участков, занятых жилыми домами,</p>
        </td>
            <td>
                <p>- 3000 руб. плюс 0,2 процента оценки недвижимого имущества (суммы сделки);</p>
                <p>- 23000 рублей плюс 0,1 процента суммы сделки, превышающей 10000000 рублей, но не более 50000 рублей;</p>
                <p>- 3000 рублей плюс 0,4 процента суммы сделки;</p>
                <p>- 7000 рублей плюс 0,2 процента суммы сделки, превышающей 1 000 000 рублей;</p>
                <p>- 25000 рублей плюс 0,1 процента суммы сделки, превышающей 10000000 рублей,</p>
                <p> - не более 100000 рублей;</p>
            </td>
            <td>
                <p>1000</p>
                <p>1000</p>
                <p>1000</p>
            </td>
            <td>
                <p>Сумма граф</p>
                <p>3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение соглашения о разделе общего имущества, нажитого супругами в период брака</p>
        </td>
            <td><p>0,5% суммы договора, но не менее 300 и не более 20000</p>
            </td>
            <td><p>5000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение иного договора (соглашения)</p>
        </td>
            <td><p>Согласно ст.333.24 НК РФ и 22.1 Основ в зависимости от вида договора</p>
            </td>
            <td><p>4000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение брачного договора</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>11500</p>
            </td>
            <td><p>12000</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договоров об отчуждении доли в уставном капитале общества с ограниченной ответственностью, сторонами которых являются физические и российские юридические лица</p>
            <p> в зависимости от суммы договора:</p>
            <p>до 1000000 рублей</p>
            <p>от 1000001 рубля до 10000000 рублей включительно</p>
            <p>свыше 10000001 рубля</p>
            <p>за удостоверение договора дарения доли или части доли в уставном капитале ООО</p>
        </td>
            <td>
                <p>0,5 процента суммы договора, но не менее 1500 рублей;</p>
                <p>- 5000 рублей плюс 0,3 процента суммы договора, превышающей 1000000 рублей;</p>
                <p>- 32 000 рублей плюс 0,15 процента сумм мы договора, превышающей 10000000 рублей, но не более 150000 рублей;</p>
                <p>0,5% суммы договора, но не менее 300 и не более 20000</p>
            </td>
            <td><p>Для физ.л .- 13000</p>
                <p>Для юр.л. – 18000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Учреждение доверительного управления наследственным имуществом.</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>13000</p>
            </td>
            <td><p>13500</p>
            </td>
        </tr>
        <tr><td><p>Протест векселя</p>
        </td>
            <td><p>1% неоплаченной суммы, но не более 20000</p>
            </td>
            <td><p>15000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договоров о залоге доли в уставном капитале общества с ограниченной ответственностью, сторонами которых являются физические и российские юридические лица в зависимости от суммы договора:</p>
            <p>до 1000000 рублей</p>
            <p>от 1000001 рубля до 10000000 рублей включительно</p>
            <p>свыше 10000001 рубля</p>
        </td>
            <td>
                <p>0,5 процента суммы договора, но не менее 1500 рублей;</p>
                <p>- 5000 рублей плюс 0,3 процента суммы договора, превышающей 1000000 рублей;</p>
                <p>- 32000 рублей плюс 0,15 процента сумм мы договора, превышающей 10000000 рублей, но не более 150000 рублей;</p>
            </td>
            <td>
                <p>Для физ.л .- 16000</p>
                <p>Для юр.л. – 21000</p>
            </td>
            <td>
                <p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение соглашения об управлении хозяйственным партнерством</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>30000</p>
            </td>
            <td><p>30100</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договоров об отчуждении, залоге доли в уставном капитале общества с ограниченной ответственностью, хотя бы одной из сторон которых является иностранное юридическое лицо, в зависимости от суммы договора:</p>
            <p>до 1000000 рублей</p>
            <p>от 1000001 рубля до 10000000 рублей включительно</p>
            <p>свыше 10000001 рубля</p>
            <p>за удостоверение договора дарения доли или части доли в уставном капитале ООО</p>
        </td>
            <td>
                <p>0,5 процента суммы договора, но не менее 1500 рублей;</p>
                <p>- 5000 рублей плюс 0,3 процента суммы договора, превышающей 1000000 рублей;</p>
                <p>- 32000 рублей плюс 0,15 процента сумм мы договора, превышающей 10000000 рублей, но не более 150000 рублей;</p>
                <p>0,5% суммы договора, но не менее 300 и не более 20000</p>
            </td>
            <td>
                <p>26000</p>
            </td>
            <td>
                <p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договора инвестиционного товарищества</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>30000</p>
            </td>
            <td><p>30100</p>
            </td>
        </tr>
        <tr><td><p>Совершение морского протеста</p>
        </td>
            <td><p>30000</p>
            </td>
            <td><p>10000</p>
            </td>
            <td><p>40000</p>
            </td>
        </tr>
        <tr><td><p>Уведомление залогодателя (должника) об исполнении обязательства, обеспеченного залогом</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>1500</p>
            </td>
            <td><p>1600</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение согласия супруга на заключение сделки по распоряжению имуществом, права на которое подлежат государственной регистрации, сделки, для которой законом установлена обязательная нотариальная форма, или сделки, подлежащей обязательной государственной регистрации</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>1500</p>
            </td>
            <td><p>2000</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договора по оформлению в долевую собственность родителей и детей жилого помещения, приобретенного с использованием средств материнского капитала</p>
        </td>
            <td><p>сумма тарифа по каждому виду сделки в соответствии со ст. 22.1 Основ и ст. 333.24 НК РФ</p>
            </td>
            <td><p>6000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Недополученный доход при совершении нотариальных действий вне помещения нотариальной конторы:</p>
            <p>при выезде к физическим лицам на дом, в больницу и т.д.</p>
            <p>при выезде к физическим лицам в СИЗО, ИВС, колонии и другие организации</p>
        </td>
            <td>
                <p>2000</p>
                <p>5000</p>
            </td>
            <td colspan="2"><p><b><u>Сумма:</u></b> увеличенного в полтора раза размера тарифа + стоимость правовой и технической работы (в зависимости от вида совершаемого нотариального действия) + 2000 или 5000</p>
            </td>
        </tr>
        <tr><td><p>Недополученный доход при совершении нотариальных действий вне помещения нотариальной конторы при выезде к юридическим лицам</p>
        </td>
            <td><p>5000</p>
            </td>
            <td colspan="2"><p><b><u>Сумма:</u></b> увеличенного в полтора раза размера тарифа + стоимость правовой и технической работы (в зависимости от вида совершаемого нотариального действия) + 5000</p>
            </td>
        </tr>
        <tr><td><p>Выдача выписки из реестра списков участников обществ с ограниченной ответственностью единой информационной системы нотариата за каждую страницу выписки</p>
        </td>
            <td><p>40 руб. с 1 по 10 страницу</p>
                <p>20 руб. с 11 страницы</p>
            </td>
            <td><p>50</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Выдача выписки из реестра регистрации нотариальных действий</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>500</p>
            </td>
            <td><p>600</p>
            </td>
        </tr>
        <tr><td><p>Внесение сведений в реестр списков участников обществ с ограниченной ответственностью единой информационной системы нотариата</p>
        </td>
            <td><p>600</p>
            </td>
            <td><p>1000</p>
            </td>
            <td><p>1600</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение доверенности на получение пенсии и социальных выплат, связанных с инвалидностью</p>
        </td>
            <td><p>-</p>
            </td>
            <td><p>1000</p>
            </td>
            <td><p>1000</p>
            </td>
        </tr>
        <tr><td><p>Выдача копий документов, переданных нотариусу на хранение</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>2000</p>
            </td>
            <td><p>2100</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение договоров ипотеки долей в праве общей собственности на жилое помещение, в частности на жилой дом с земельным участком</p>
            <p> Удостоверение договоров ипотеки долей в праве общей собственности на иное недвижимое имущество</p>
        </td>
            <td><p>200</p>
                <p>0,3% суммы договора, но не более 3000</p>
            </td>
            <td><p>8000</p>
                <p>12000</p>
            </td>
            <td><p>8200</p>
                <p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение завещания, условия которого предусматривают создание наследственного фонда</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>17400</p>
            </td>
            <td><p>17500</p>
            </td>
        </tr>
        <tr><td><p>Принятие нотариусом на депонирование движимых вещей</p>
            <p>(за исключением денежных средств в целях исполнения обязательств сторон по сделке, удостоверенной нотариально)</p>
            <p>денежных средств в целях исполнения обязательств сторон по сделке, удостоверенной нотариально</p>
        </td>
            <td><p>0,5% принятой денежной суммы, рыночной стоимости ценных бумаг или заявленной стоимости имущества, но не менее 1000</p>
                <p>1500</p>
            </td>
            <td><p>17400</p>
            </td>
            <td>
                <p>Сумма граф 3 и 4</p>
                <p>18900</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение совместного завещания супругов</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>3900</p>
            </td>
            <td><p>4000</p>
            </td>
        </tr>
        <tr><td><p>Составление описи наследственного имущества –</p>
        </td>
            <td><p>600</p>
            </td>
            <td><p>6000</p>
                <p>(за каждый затраченный час)</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Передача нотариусом на хранение входящего в состав наследства имущества, не требующего управления, наследникам либо иным лицам</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>6000</p>
            </td>
            <td><p>6100</p>
            </td>
        </tr>
        <tr><td><p>Принятие в депозит нотариуса входящих в состав наследства наличных денежных средств</p>
        </td>
            <td><p>0,5 процента принятой денежной суммы или рыночной стоимости ценных бумаг, но не менее 1 000 рублей</p>
            </td>
            <td><p>7000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение наследственного договора</p>
        </td>
            <td><p>0,5% суммы договора, но не менее 300 рублей и не более 20 000 рублей</p>
            </td>
            <td><p>12000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Передача входящих в состав наследства валютных ценностей, драгоценных металлов и камней, изделий из них и не требующих управления ценных бумаг банку на хранение</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>12000</p>
            </td>
            <td><p>12100</p>
            </td>
        </tr>
        <tr><td><p>Выдача свидетельства о праве на наследство по завещанию, предусматривающему создание наследственного фонда</p>
        </td>
            <td><p>детям, в том числе усыновленным, супругу, родителям, полнородным братьям и сестрам наследодателя - 0,3 процента стоимости наследуемого имущества, но не более 100 000 рублей;</p>
                <p>другим наследникам - 0,6 процента стоимости наследуемого имущества, но не более 1 000 000 рублей</p>
            </td>
            <td><p>12000</p>
            </td>
            <td><p>Сумма граф 3 и 4</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение факта возникновения права собственности на объекты недвижимого имущества в силу приобретательной давности</p>
        </td>
            <td><p>100</p>
            </td>
            <td><p>12000</p>
            </td>
            <td><p>12100</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение соглашения о предоставлении опциона на заключение договора</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>36000</p>
            </td>
            <td><p>36500</p>
            </td>
        </tr>
        <tr><td><p>Подготовка проектов заявлений в наследственное дело, необходимых для выдачи свидетельств о праве на наследство</p>
        </td>
            <td><p>-</p>
            </td>
            <td><p>1000</p>
            </td>
            <td><p>1000</p>
            </td>
        </tr>
        <tr><td><p>Удостоверение опционного договора</p>
        </td>
            <td><p>500</p>
            </td>
            <td><p>36000</p>
            </td>
            <td><p>36500</p>
            </td>
        </tr>
        <tr><td><p>Выдача свидетельства об удостоверении факта принятия решения единственным участником (акционером) юридического лица</p>
        </td>
            <td><p>3000</p>
            </td>
            <td><p>500</p>
            </td>
            <td><p>3500</p>
            </td>
        </tr>
    </table>

</div>
{% endblock %}
